.container {
    text-align: center;
    color: #7C7C7C;
    font-size: 20px;
    line-height: 1.2;
    left: 50%;
    top: 50%;

    .img {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
}
